views/index.pug
extends layout

block content
  div(class='darkBg')
    img(class='rounded-img top-img' src='images/face.jpg' alt='Ben High')
    h1 Ben High
    h2 Android/Web Developer

  div(class='lightBg')
    h3 About Me
    div(class='textBlock')
      p Hey there! I'm a graduating Computer Science senior at Drury University in Springfield, Missouri, Android and web developer, open-source and VR enthusiast. I've been working with code since I was 13, starting with Python 2.7. Ever since then, I've gained a love for learning new languages and frameworks. These days, I generally work with web development in Spring MVC, mobile development with Kotlin or Flutter, and the occasional VR project with Unity. On top of studying programming languages, I also love learning new spoken languages. I know English and Spanish pretty well, and I've been learning Welsh and German as of late!

  div(class='darkBg')
    h3 Technologies
    div(class='container')
      div(class='row justify-content-center')
        div(class='col-lg-4 col-md-6 col-sm-12')
          img(src='images/spring.png' alt='Spring' class='lang-img')
          h4 Spring
        div(class='col-lg-4 col-md-6 col-sm-12')
          img(src='images/android.png' alt='Android' class='lang-img')
          h4 Android
        div(class='col-lg-4 col-md-6 col-sm-12')
          img(src='images/unity.png' alt='Unity' class='lang-img')
          h4 Unity

  div(class='lightBg')
    a(href='dist/BenHighResume.pdf')
      button Download Resume

views/index.html
<!DOCTYPE html><html><head><title></title><link rel="stylesheet" href="/stylesheets/reset.css"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script><link rel="stylesheet" href="/stylesheets/style.css"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></head><body><div class="darkBg"><img class="rounded-img top-img" src="images/face.jpg" alt="Ben High"><h1>Ben High</h1><h2>Android/Web Developer</h2></div><div class="lightBg"><h3>About Me</h3><div class="textBlock"><p>Hey there! I'm a graduating Computer Science senior at Drury University in Springfield, Missouri, Android and web developer, open-source and VR enthusiast. I've been working with code since I was 13, starting with Python 2.7. Ever since then, I've gained a love for learning new languages and frameworks. These days, I generally work with web development in Spring MVC, mobile development with Kotlin or Flutter, and the occasional VR project with Unity. On top of studying programming languages, I also love learning new spoken languages. I know English and Spanish pretty well, and I've been learning Welsh and German as of late!</p></div></div><div class="darkBg"><h3>Technologies</h3><div class="container"><div class="row justify-content-center"><div class="col-lg-4 col-md-6 col-sm-12"><img class="lang-img" src="images/spring.png" alt="Spring"><h4>Spring</h4></div><div class="col-lg-4 col-md-6 col-sm-12"><img class="lang-img" src="images/android.png" alt="Android"><h4>Android</h4></div><div class="col-lg-4 col-md-6 col-sm-12"><img class="lang-img" src="images/unity.png" alt="Unity"><h4>Unity</h4></div></div></div></div><div class="lightBg"><a href="dist/BenHighResume.pdf"><button>Download Resume</button></a></div><div class="darkBg bottom"><div class="container"><div class="row justify-content-center"><div class="col-1"><a href="https://gitlab.com/explodingkittens"><img src="images/gitlab.png" alt="GitLab"></a></div><div class="col-1"><a href="https://twitter.com/explodingkittns"><img src="images/twitter.png" alt="Twitter"></a></div><div class="col-1"><a href="mailto:ben@benhigh.xyz"><img src="images/email.png" alt="Email"></a></div></div></div></div></body></html><simp></simp>
